nav a:hover {
  background-color: gray;
  padding: 2px;
  display: inline-block;
}

header {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  color: black;
}

table {
  border: 1px solid black;
  width: 100%;
}

td {
  text-align: center;
  border: 1px solid black;
}

body {
  background-color: #F5F5F5;
}

footer {
  margin: 10px;
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
  color: black;
  font-size: 20px;
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

* {
  box-sizing: border-box
}

.container {
  text-align: center;
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
